    h1{
        color: red;
    }
    body{
        text-align: center;
    }
    .products{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        width: 100vw;

    }
    .donut-image{
        width: 100px;
        height: 70px;

    }
    .card{
        background-color: rgb(254, 123, 208);
        display: flex;
        flex-direction: column;
        border: 2px solid purple;
        border-radius: 10px;
        padding: 10px;
    }
